.categories {
    background-color:yellowgreen;
    padding: 20px;
    border-radius: 0px;
  }
  
  .categories h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .categories ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .categories li {
    margin-bottom: 5px;
  }
  
  .categories a {
    display: block;
    color: #333;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  .categories a:hover {
    background-color: #ddd;
  }

  .flowers {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
  }
  
  .flowers h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .flowers ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .flowers li {
    flex-basis: calc(33.33% - 20px);
    margin: 10px;
    text-align: center;
  }
  
  .flowers h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .flowers img {
    max-width: 100%;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
  }
  
  .flowers .care-info {
    margin-top: 10px;
    text-align: left;
    display: flex;
    flex-direction: column;
  }
  
  .flowers .care-info .info-line {
    display: flex;
    align-items: center;
  }
  
  .flowers .care-info .info-line span {
    font-weight: bold;
    margin-right: 5px;
  }
  
  .flowers .price {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
  }
  